.menu-link {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 14px;

  border-radius: 10px;

  transition: 0.3s;
}

.menu-link:hover {
  background: #1e293b;
}

.active {
  background: #059669;
}

.card {
  background: white;

  padding: 30px;

  border-radius: 15px;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.card-title {
  font-size: 22px;

  font-weight: 600;

  margin-bottom: 25px;
}

.label {
  display: block;

  margin-bottom: 8px;

  font-weight: 600;

  color: #475569;
}

.input {
  width: 100%;

  padding: 12px;

  border: 1px solid #cbd5e1;

  border-radius: 10px;
}

.input:focus {
  outline: none;

  border-color: #10b981;

  box-shadow: 0 0 0 3px rgba(16, 185, 129, 0.2);
}
